<!--SEMANTIC UI-->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="../../semantic/dist/semantic.min.js"></script>

<!--FILEPOND-->
<link href="../filepond/filepond-master/dist/filepond.css" rel="stylesheet">
<script src="../filepond-plugin-file-encode/filepond-plugin-file-encode-master/dist/filepond-plugin-file-encode.js"></script>
<script src="../filepond/filepond-master/dist/filepond.js"></script>
<script>
FilePond.registerPlugin(FilePondPluginFileEncode);
</script>


<!--AWS SDK-->
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/axios/dist/axios.standalone.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/CryptoJS/rollups/hmac-sha256.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/CryptoJS/rollups/sha256.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/CryptoJS/components/hmac.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/CryptoJS/components/enc-base64.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/url-template/url-template.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/apiGatewayCore/sigV4Client.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/apiGatewayCore/apiGatewayClient.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/apiGatewayCore/simpleHttpClient.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/lib/apiGatewayCore/utils.js"></script>
<script type="text/javascript" src="../../res/sdk/apiGateway-js-sdk/apigClient.js"></script>


<!--ALL MODELS-->
<script src = "../models/user.js"></script>
<script src = "../models/currentUser.js"></script>
<script src = "../models/status/status.js"></script>
<script src = "../models/status/element/element.js"></script>
<script src = "../models/status/element/hashtag.js"></script>
<script src = "../models/status/element/url.js"></script>
<script src = "../models/status/element/userMention.js"></script>
<script src = "../models/status/element/attachment/image.js"></script>
<script src = "../models/status/element/attachment/audio.js"></script>
<script src = "../models/status/element/attachment/attachment.js"></script>
<script src = "../models/statusCollection/statusCollection.js"></script>
<script src = "../models/statusCollection/story.js"></script>
<script src = "../models/statusCollection/feed.js"></script>

<script src = "../models/globalModels.js"></script>

<!--ALL PROXIES-->
<script src = "../proxy/change_profile_pic_proxy.js"></script>
<script src = "../proxy/follow_proxy.js"></script>
<script src = "../proxy/status_proxy.js"></script>
<script src = "../proxy/get_user_data_proxy.js"></script>
<script src = "../proxy/sign_in_proxy.js"></script>
<script src = "../proxy/sign_up_proxy.js"></script>

<!--ALL PRESENTERS-->
<script src = "../presenters/create_post_presenter.js"></script>
<script src = "../presenters/current_user_presenter.js"></script>
<script src = "../presenters/mentions_presenter.js"></script>
<script src = "../presenters/profile_presenter.js"></script>
<script src = "../presenters/sign_in_presenter.js"></script>
<script src = "../presenters/status_presenter.js"></script>
<script src = "../presenters/story_feed_presenter.js"></script>

<script src = "../proxy/global_proxies.js"></script>
<script src = "../views/js/globalPresenters.js"></script>

<!--MAIN VIEW-->
<script src = "./js/profile_view.js"></script>

<!--COMPONENTS-->
<script src = "./js/components/nav_menu.js"></script>

<!--CSS-->
<link rel = "stylesheet" type = "text/css" href = "../css/profile.css" />
<link rel = "stylesheet" type = "text/css" href = "../css/site.css" />
<link rel = "stylesheet" type = "text/css" href = "../css/nav_menu.css" />
<link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">


<div id = "main_content">
  <div id = "sidebar-section"></div>
  <div id = "main-section">
    <div class = "profile-section">
        <div class = "profile-header">
            <div class = "profile-image"></div>
            <i class="edit icon image-edit-icon" onclick="$('.image-upload-modal')
            .modal('show')"></i>
            <div class = "profile-name"></div>
            <div class = "profile-username"></div>
        </div>
        <div class = "profile-follow-data">
            <div class = "profile-followers">
                <div class = "ui grid users-list_section followers-list_section">
                    <div class = "row">
                        <h3 class = "users-list_header">Followers </h3>
                    </div>
                    <div class = "row">
                        <div class = "users-list followers-list ui feed"></div>
                    </div>
                </div>
            </div>
            <div class = "profile-follows">
                <div class = "ui grid users-list_section follows-list_section">
                    <div class = "row">
                        <h3 class = "users-list_header">Following </h3>
                    </div>
                    <div class = "row">
                        <div class = "users-list following-list ui feed"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class = "ui modal image-upload-modal">
    <div class="content image-modal_content">
        <input type="file">
        <button class = "ui button submit_image" onclick = "changeProfileImage()">Upload Image</button>
    </div>
</div>