<div class="ui form create-post_form">
    <div class="field create-post_field">
        <textarea rows="2" placeholder="What are you thinking about?" class = "create-post_textarea"></textarea>
        <div class = "create-post_toolbar">
            <div class = "toolbar_icons">
                <i class="big file alternate outline icon" onclick="$('.upload-modal')
                .modal('show')"></i>
            </div>
            <div class = "toolbar_button">
                <button class = "ui button create-post_submit" onclick = "postStatus()">Post</button>
            </div>
        </div>
    </div>
</div>